header.main_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img.your_photo {
    margin-top: 1rem;
} 
nav {
    position: fixed;
    top: 0;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
    background-color: #4056a1;
    color: #ffffff;
    padding: 0 1.5em;
    font-size: 3rem;
}

nav span {
    font-family: 'Bungee', sans-serif;
    position: relative;
    top: 0px;
}

nav div {
    font-weight: 300;
    font-size: 1rem;
    
}

.new_tweet {
    position: relative;
    top: 0px;
    left: 0;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.fa-angle-double-down {
    color: red;
    font-size: 24px;
}
.fa-angle-double-down:hover {
    color: red;
    font-size: 24px;
    cursor: grab;
}
.fa-exclamation-circle{
    font-size:24px;
    color: red;
}
.right_top_header {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.alert {
    width: 90%;
    border: 4px solid red;
    margin: 0 auto;
    color: red;
    text-align: center;
    font-size: 2rem;
    display: none;
    margin-top: 1.5rem;
    padding: 1rem;
}

.icons, .timeAgo, .leftHeader img, .body_tweet p, .hidden_span {
    padding: 5px;
}
/* doing my media stuff */
@media only screen and (min-width: 768px) {
    body {
        display: flex;
    }

    header.main_header {
        margin: 12rem 3rem 0 3rem;
        width: 35%;
        max-height: 19rem;
    }

    main.container {
        margin: 11rem 3rem 0 3rem;
        width: 65%
    }

    img.your_photo {
        width: 75%;
        /* height: 30%; */
    } 
    .name_photo h2 {
        font-size: 2rem;
        text-align: center;
        margin-top: 0.25rem;
    }

    div.name_photo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 12.5rem;
    }
    .icons, .timeAgo, .leftHeader img, .body_tweet p, .hidden_span {
        padding: 5px;
    }
}