nav {
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    z-index: 2;
    background-color: #4056a1;
    color: #ffffff;
    padding: 0 1.5em;
    font-size: 3rem;
}

nav span {
    font-family: 'Bungee', sans-serif;
    position: relative;
    top: 30px;
    /* position: fixed; */
}

nav div {
    font-weight: 300;
    font-size: 1rem;
    position: relative;
    top: -30px;
    left: 90%;
}

.new_tweet {
    position: relative;
    top: 0px;
    left: 0;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;